<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Jugador</th>
                  <th>Partidas Jugadas</th>
                  <th>Partidas Ganadas</th>
                  <th>Partidas Perdidas</th>
                  <th>Puntos de Ranking</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{statistics?.apellidos}}</td>
                  <td>{{statistics?.partidasJugadas}}</td>
                  <td>{{statistics?.partidasGanadas}}</td>
                  <td>{{statistics?.partidasPerdidas}}</td>
                  <td>{{statistics?.puntosRanking}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>