<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h1>Bienvenido al Club de Pádel</h1>
      <p>¡Descubre nuestra variedad de pistas y servicios!</p>
      <a class="btn btn-primary" (click)="openPageTournaments()">Futuros torneos</a>
    </div>
    <div class="col-md-6">
      <img src="https://allforpadel.com/img/cms/pistas/fx2-1.jpg" alt="Pistas de Pádel" class="img-fluid">
      <!--Imágne de fondo foto por defecto: https://via.placeholder.com/400h-->
    </div>
  </div>

  <hr>
  <h1 class="text-center">Imágenes del club</h1>
  <div class="row">
    <div class="d-flex justify-content-center">
      <div class="col-md-6">
        <img src="../../../../assets/images/3.jpg" alt="Image 3" width="600px" height="600px">
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/images/2.jpg" alt="Image 2" width="600px" height="600px">
      </div>
    </div>
    <div class="d-flex justify-content-around">
      <div class="col-md-6">
        <img src="../../../../assets/images/1.jpg" alt="Image 1" width="600px" height="600px">
      </div>
      <div class="col-md-6">
        <img src="../../../../assets/images/1.jpg" alt="Image 4" width="600px" height="600px">
      </div>
    </div>
  </div>

</div>