<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <div class="container">
        <div class="row mt-4">
          <div class="col-md-4">
            <select class="form-select" [(ngModel)]="hourFilter" (change)="filterByHour()" id="filtroHora">
              <option value="" disabled selected hidden>Filtra por hora de inicio</option>
              <option value="todas">Todas las horas</option>
              <option value="08:30">08:30</option>
              <option value="10:00">10:00</option>
              <option value="11:30">11:30</option>
              <option value="13:00">13:00</option>
              <option value="14:30">14:30</option>
              <option value="16:00">16:00</option>
              <option value="17:30">17:30</option>
              <option value="19:00">19:00</option>
              <option value="20:30">20:30</option>
            </select>
          </div>
          <div class="col-md-4">
            <input type="date" class="form-control" [(ngModel)]="fechaActualizada" (change)="updateDate()"
              id="filtroFecha" placeholder="Fecha">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container mt-5">
  <div class="row">
    @for (pista of pistas; track $index) {
    <div class="col-md-3">
      <div class="mt-4">
        <h2>Pista {{ pista.idPista }}</h2>
        <div class="row">
          @for (horario of pista.horario; track $index) {
          @if (horario.mostrar) {
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">{{ horario.horaInicio }} - {{ horario.horaFin}}</h5>
                @if(horario.reservado){
                <button class="card-text bg-danger">No disponible</button>
                }@else {
                <button class="card-text bg-success"
                  (click)="createGame(horario.horaInicio, horario.horaFin, pista.idPista)">Crear partida</button>
                }
              </div>
            </div>
          </div>
          }
          }
        </div>
      </div>
    </div>
    }
  </div>
</div>