<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card shadow">
        <div class="card-body">
          <div class="table-responsive">
            @if (history.length! > 0) {
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th colspan="2">Pareja 1</th>
                  <th colspan="2">Pareja 2</th>
                  <th>Resultado</th>
                  <th>Pareja Ganadora</th>
                  <th>Hora Inicio</th>
                  <th>Hora Fin</th>
                  <th>Fecha</th>
                  <th>Categoría</th>
                </tr>
              </thead>
              <tbody>
                @for (item of history; track $index) {
                <tr>
                  <td>{{item.apellidos1}}</td>
                  <td>{{item.apellidos2}}</td>
                  <td>{{item.apellidos3}}</td>
                  <td>{{item.apellidos4}}</td>
                  <td>{{item.resultado}}</td>
                  <td>{{item.parejaGanadora}}</td>
                  <td>{{item.horaInicio}}</td>
                  <td>{{item.horaFin}}</td>
                  <td>{{item.fecha}}</td>
                  <td>{{item.categoria}}</td>
                </tr>
                }
              </tbody>
            </table>
            }@else {
            <p>No tienes partidas disputadas</p>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>